<!DOCTYPE html>
<html>
<head lang="en">
  <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="./img/js.ico">
  <title>Multimedia</title>
  <!-- libraries -->
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="../../libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../libs/fontawesome/css/fontawesome-all.css">
  <link rel="stylesheet" type="text/css" href="../../libs/syntax/shThemeFadeToGrey.css">
  <link href='../../css/simple-sidebar.css' rel="stylesheet">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-item pr-2" style="border-right: 1px solid white;">
      <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><i class="fas fa-bars"></i></a>
    </span>

        <span class="navbar-brand mb-0 h1 ml-2">
            <img src="../../img/js.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Multimedia
        </span>

    </nav>

  <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li>
                  <a href="#">Inicio</a>
              </li>
              <li>
                  <a href="intro.html">Introducción</a>
              </li>
              <li>
                  <a href="sintax.html">Sintaxis y Comentarios</a>
              </li>
              <li>
                  <a href="salida.html">Salida de datos</a>
              </li>
              <li>
                  <a href="variables.html">Variables y tipos de datos</a>
              </li>
              <li>
                  <a href="opArit.html">Operadores aritméticos</a>
              </li>
              <li>
                  <a href="opAsig.html">Operadores de asignación</a>
              </li>
              <li>
                  <a href="opComp.html">Operadores de comparación</a>
              </li>
              <li>
                  <a href="opLog.html">Operadores lógicos</a>
              </li>
              <li>
                  <a href="funciones.html">Funciones</a>
              </li>
              <li>
                  <a href="condicionales.html">Condicionales</a>
              </li>
              <li>
                  <a href="ciclos.html">Ciclos</a>
              </li>
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div id="content" class="container-fluid">
            <p class="text-justify">
              Los ciclos pueden ejecutar un bloque de código varias veces.
              <br>
              <br>
              Se utilizan a menudo cuando se trabajan con matrices.
            </p>
            <br>
            <h4>Tipos</h4>
            <br>
            <p class="text-justify">
              JavaScript admite diferentes tipos de bucles:
              <ul>
                <li><strong>for</strong>: recorre un bloque de codigo varias veces.</li>
                <li><strong>while</strong>: ejecuta un bloque de codigo mientras que una condición especifica es verdadera, cuando es falsa se detiene.</li>
                <li><strong>do / while</strong>: también recorre un bloque de código mientras una condición especificada es verdadera</li>
              </ul>
            </p>
            <br>
            <h4>Ciclo for</h4>
            <p class="text-justify">
              <strong>Ejemplo</strong>
            </p>
            <br>
            <pre class="brush:js">
              for (i = 0; i < 5; i++) {

                  text += "El numero es " + i + "<br>";

              }
            </pre>
            <p class="text-justify">
              <li>La primera parte (<strong>i = 0</strong>), se ejecuta antes de que comience el ciclo.</li>
              <li>La segunda parte (<strong>i < 5 </strong>), define la condición para terminar el bucle.</li>
              <li>La tercera parte(<strong>i++</strong>), se ejecuta cada vez que se ejecuta el ciclo.</li>
            </p>
            <br>
            <h4>Ciclo while</h4>
            <p class="text-justify">
              <strong>Ejemplo</strong>
              <br>
              En el siguiente ejemplo, el código se ejecutará una y otra vez, siempre que la variable <strong>i</strong> sea menor que <strong>10</strong>:
            </p>
            <br>
            <pre class="brush:js">
              var i = 0;

              while (i < 10) {

                  text += "El numero es " + i;
                  i++;
              }
            </pre>
            <br>
            <h4>Ciclo do / while</h4>
            <p class="text-justify">
              El ciclo do / while, a diferencia de el ciclo while, este ejecutará el bloque de código una vez, antes de verificar si la condición es verdadera, luego actua como el ciclo while ejecutando el ciclo siempre que la condición sea verdadera.
              <br>
              Esto quiere decir que el ciclo do / while, siempre se ejecutara al menos una vez.
              <br>
              <br>
              <strong>Ejemplo</strong>
              <br>
              El siguiente ejemplo usa un ciclo do / while. El ciclo siempre se ejecutará al menos una vez, incluso si la condición es falsa, porque el bloque de código se ejecuta antes de que se pruebe la condición:
            </p>
            <br>
            <pre class="brush:js">
              var i = 10;

              do {
                  text += "El numero es " + i;
                  i++;
              }
              while (i < 10);
            </pre>
            <br>
            <h4>NOTA!</h4>
            <p class="text-justify">
              <strong>¡En los ciclos while y do / while, no olvides aumentar la variable utilizada en la condición, de lo contrario, el ciclo nunca terminará!</strong>
            </p>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

 <!-- libraries -->
  <!-- Jquery -->
  <script type="text/javascript" src="../../libs/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script type="text/javascript" src="../../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- syntax -->
  <script type="text/javascript" src="../../libs/syntax/shCore.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shAutoloader.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shBrushJScript.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shBrushPhp.js"></script>
  <!-- App custom scripts -->
  <script type="text/javascript" src="../../js/index.js"></script>

  <script type="text/javascript">SyntaxHighlighter.all();</script>
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
</html>
