<!DOCTYPE html>
<html>
<head lang="en">
  <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="./img/js.ico">
  <title>Multimedia</title>
  <!-- libraries -->
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="../../libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../libs/fontawesome/css/fontawesome-all.css">
  <link rel="stylesheet" type="text/css" href="../../libs/syntax/shThemeFadeToGrey.css">
  <link href='../../css/simple-sidebar.css' rel="stylesheet">
</head>
<body>

 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center pb-0">
      <span class="navbar-brand mb-0 h1">
            <img src="./img/js.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Aprendiendo JavaScript
      </span>
    </nav>

  <ul class="nav justify-content-center nav-pills bg-dark pb-2">

    <li class="nav-item">
      <a class="nav-link btn btn-warning" href="../../index.html">
        <i class="fas fa-home fa-lg"></i>
        Inicio
      </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="intro.html">
            <i class="fas fa-info fa-lg"></i>
            Introducción
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="sintax.html">
            <i class="fas fa-file-code fa-lg"></i>
            Sintaxis
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="salida.html">
            <i class="fas fa-tv fa-lg"></i>
            Salida de datos
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="variables.html">
            <i class="fas fa-font fa-lg"></i>
            Variables
        </a>
    </li>

    <li class="nav-item dropdown ml-1">
      <a class="nav-link dropdown-toggle btn btn-warning" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" role="button">
        <i class="fas fa-greater-than-equal fa-lg"></i>
        Operadores
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="opArit.html">Operadores aritméticos</a>
        <a class="dropdown-item" href="opAsig.html">Operadores de asignación</a>
        <a class="dropdown-item" href="opComp.html">Operadores de comparación</a>
        <a class="dropdown-item" href="opLog.html">Operadores lógicos</a>
      </div>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="funciones.html">
            <i class="fas fa-code fa-lg"></i> Funciones
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="condicionales.html">
            <i class="fas fa-question fa-lg"></i>
            Condicionales
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="ciclos.html">
            <i class="fas fa-sync-alt fa-lg"></i>
            Ciclos
        </a>
    </li>

  </ul>
  <!-- Page Content -->
  <div class="container mt-4 mb-4">
    Cuando se escribe un código, a menudo se desea realizar diferentes acciones dependiendo de las distintas decisiones. Para eso se utilizan los condicionales.
    <br>
    <br>
    En JavaScript tenemos las siguientes declaraciones condicionales:
    <ul>
      <li><strong>if</strong>: para especificar si un código sera ejecutado, si la condición se cumple.</li>
      <li><strong>else</strong>: para especificar que un bloque de codigo se ejecutara, si la condicion en <strong>if</strong> no se cumple.</li>
      <li><strong>else if</strong>: si la primera condición falla, puede probar con otra condición.</li>
      <li><strong>switch</strong>: define muchas condiciones alternativas a ser ejecutados dependiendo de cual condición se cumpla.</li>
    </ul>
    <br>
    <h4>Condicional if</h4>
    <p class="text-justify">
      <strong>Ejemplo</strong>
      <br>
      Considerando que <strong>x = 10</strong>.Imprima la variable <strong>x</strong> en una alerta si es mayor que <strong>7</strong>:
    </p>
    <br>
    <pre class="brush:js">
      if (x > 7){
      // se ejecuta el siguiento codigo ya que el resultado es verdadero
        alert(x);
      }
    </pre>
    <br>
    <h4>Condicional else</h4>
    <p class="text-justify">
      <strong>Ejemplo</strong>
      <br>
      Tomando el ejemplo anterior, pero ahora considerando que <strong>x = 5</strong>, imprima la variable <strong>x</strong> en una alerta si es mayor que <strong>7</strong> y sino muestre un mensaje:
    </p>
    <br>
    <pre class="brush:js">
      if (x > 7){
      //este codigo no se ejecuta ya que el resultado es falso
        alert(x);
      } else {
      // se ejecuta el siguiente codigo
        alert("La variable x es menor que 7");
      }
    </pre>
    <br>
    <h4>Condicional else if</h4>
    <p class="text-justify">
      <strong>Ejemplo</strong>
      <br>
      Tomando el ejemplo anterior, pero ahora considerando que <strong>x = 7</strong>,imprima la variable <strong>x</strong> en una alerta si es mayor que <strong>7</strong> y si es igual a <strong>7</strong> envie un mensaje:
    </p>
    <br>
    <pre class="brush:js">
      if (x > 7){
      //este codigo no se ejecuta ya que el resultado es falso
        alert(x);
      } else if (x == 7) {
      // se ejecuta el siguiente codigo
        alert("La variable x es igual a 7");
      }
    </pre>
    <br>
    <h4>Condicional switch</h4>
    <p class="text-justify">
      La instrucion <strong>switch</strong> se usa para realizar diferentes acciones en diferentes condiciones.
      <br>
      <br>
      <strong>Asi es como se usa:</strong>
      <br>
      <ul>
        <li>Pasamos una expresión o variable a <strong>switch()</strong>.</li>
        <li>El valor de la variable o expresión se compara con los valores de cada caso.</li>
        <li>Si hay coincidencia, se ejecuta el bloque de codigo asociado.</li>
      </ul>
      <br>
      <strong>Ejemplo</strong>
      <br>
      El método getDay() devuelve el día de la semana como un número entre 0 y 6 (Domingo = 0, lunes = 1, martes = 2, ...).
      <br>
      <br>
      Este ejemplo usa el número del día de la semana para calcular el nombre del día de la semana:
    </p>
    <br>
    <pre class="brush:js">
      var day = new Date().getDay();
      /*
        Tambien es posible realizarlo de la siguiente manera:

        switch(new Date().getDay())

        Es decir pasarle la expresión directamente..
      */
      switch (day) {
          case 0:
              dia = "Domingo";
              break;
          case 1:
              dia = "Lunes";
              break;
          case 2:
              dia = "Martes";
              break;
          case 3:
              dia = "Miércoles";
              break;
          case 4:
              dia = "Jueves";
              break;
          case 5:
              dia = "Viernes";
              break;
          case 6:
              dia = "Sábado";
      }
    </pre>
  </div>

  <!-- libraries -->
  <!-- Jquery -->
  <script type="text/javascript" src="../../libs/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script type="text/javascript" src="../../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- syntax -->
  <script type="text/javascript" src="../../libs/syntax/shCore.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shAutoloader.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shBrushJScript.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shBrushPhp.js"></script>
  <!-- App custom scripts -->
  <script type="text/javascript" src="../../js/index.js"></script>

  <script type="text/javascript">SyntaxHighlighter.all();</script>
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
</html>
