<!DOCTYPE html>
<html>
<head lang="en">
  <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="./img/js.ico">
  <title>Multimedia</title>
  <!-- libraries -->
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="../../libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../libs/fontawesome/css/fontawesome-all.css">
  <link rel="stylesheet" type="text/css" href="../../libs/syntax/shThemeFadeToGrey.css">
  <link href='../../css/simple-sidebar.css' rel="stylesheet">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-item pr-2" style="border-right: 1px solid white;">
      <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><i class="fas fa-bars"></i></a>
    </span>

        <span class="navbar-brand mb-0 h1 ml-2">
            <img src="../../img/js.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Multimedia
        </span>

    </nav>

  <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li>
                  <a href="#">Inicio</a>
              </li>
              <li>
                  <a href="intro.html">Introducción</a>
              </li>
              <li>
                  <a href="sintax.html">Sintaxis y Comentarios</a>
              </li>
              <li>
                  <a href="salida.html">Salida de datos</a>
              </li>
              <li>
                  <a href="variables.html">Variables y tipos de datos</a>
              </li>
              <li>
                  <a href="opArit.html">Operadores aritméticos</a>
              </li>
              <li>
                  <a href="opAsig.html">Operadores de asignación</a>
              </li>
              <li>
                  <a href="opComp.html">Operadores de comparación</a>
              </li>
              <li>
                  <a href="opLog.html">Operadores lógicos</a>
              </li>
              <li>
                  <a href="funciones.html">Funciones</a>
              </li>
              <li>
                  <a href="condicionales.html">Condicionales</a>
              </li>
              <li>
                  <a href="ciclos.html">Ciclos</a>
              </li>
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div id="content" class="container-fluid">
           <h4>Operadores aritméticos </h4>
           <br>
           <table class="table table-bordered">
             <thead>
               <tr>
                 <th scope="col">Operador</th>
                 <th scope="col">Descripción</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td> + </td>
                 <td> Adición </td>
               </tr>
               <tr>
                 <td> - </td>
                 <td> Sustracción </td>
               </tr>
               <tr>
                 <td> * </td>
                 <td> Multiplicación </td>
               </tr>
               <tr>
                 <td> / </td>
                 <td> División </td>
               </tr>
               <tr>
                 <td> % </td>
                 <td> Modulo </td>
               </tr>
               <tr>
                 <td> ++ </td>
                 <td> Incrementar </td>
               </tr>
               <tr>
                 <td> -- </td>
                 <td> Decrementar </td>
               </tr>
             </tbody>
           </table>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- libraries -->
  <!-- Jquery -->
  <script type="text/javascript" src="../../libs/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script type="text/javascript" src="../../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- syntax -->
  <script type="text/javascript" src="../../libs/syntax/shCore.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shAutoloader.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shBrushJScript.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shBrushPhp.js"></script>
  <!-- App custom scripts -->
  <script type="text/javascript" src="../../js/index.js"></script>

  <script type="text/javascript">SyntaxHighlighter.all();</script>
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
</html>
