<!DOCTYPE html>
<html>
<head lang="en">
  <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="./img/js.ico">
  <title>Multimedia</title>
  <!-- libraries -->
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="../../libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../libs/fontawesome/css/fontawesome-all.css">
  <link rel="stylesheet" type="text/css" href="../../libs/syntax/shThemeFadeToGrey.css">
  <link href='../../css/simple-sidebar.css' rel="stylesheet">
</head>
<body>

  <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center pb-0">
      <span class="navbar-brand mb-0 h1">
            <img src="./img/js.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Aprendiendo JavaScript
      </span>
    </nav>

  <ul class="nav justify-content-center nav-pills bg-dark pb-2">

    <li class="nav-item">
      <a class="nav-link btn btn-warning" href="../../index.html">
        <i class="fas fa-home fa-lg"></i>
        Inicio
      </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="intro.html">
            <i class="fas fa-info fa-lg"></i>
            Introducción
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="sintax.html">
            <i class="fas fa-file-code fa-lg"></i>
            Sintaxis
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="salida.html">
            <i class="fas fa-tv fa-lg"></i>
            Salida de datos
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="variables.html">
            <i class="fas fa-font fa-lg"></i>
            Variables
        </a>
    </li>

    <li class="nav-item dropdown ml-1">
      <a class="nav-link dropdown-toggle btn btn-warning" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" role="button">
        <i class="fas fa-greater-than-equal fa-lg"></i>
        Operadores
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="opArit.html">Operadores aritméticos</a>
        <a class="dropdown-item" href="opAsig.html">Operadores de asignación</a>
        <a class="dropdown-item" href="opComp.html">Operadores de comparación</a>
        <a class="dropdown-item" href="opLog.html">Operadores lógicos</a>
      </div>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="funciones.html">
            <i class="fas fa-code fa-lg"></i> Funciones
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="condicionales.html">
            <i class="fas fa-question fa-lg"></i>
            Condicionales
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="ciclos.html">
            <i class="fas fa-sync-alt fa-lg"></i>
            Ciclos
        </a>
    </li>

  </ul>
  <!-- Page Content -->
  <div class="container mt-4 mb-4">
   <p class="text-justify">
     JavaScript puede mostrar datos de diferentes maneras: <br>
     <li>Escribir en un elemento HTML, usando <strong>innerHTML</strong>.</li>
     <li>Escribir en el HTML, usando <strong>document.write()</strong>.</li>
     <li>Escribir en un cuadro de alerta, usando <strong>window.alert()</strong>.</li>
     <li>Escribir en la consola del navegador, usando <strong>console.log()</strong>.</li>
   </p>
   <br>

   <h4>Usando innerHTML</h4>
   <p class="text-justify">
     Para acceder a un elemento HTML, JavaScript puede usar el método <strong>document.getElementById(id)</strong>. <br>

     El atributo <strong>id</strong> define el elemento HTML. La propiedad innerHTML escribe el contenido dentro el elemento HTML seleccionado:

   </p>
   <br>
   <pre class="brush:php">
     &lt;!DOCTYPE html&gt;
     &lt;html&gt;
     &lt;body&gt;

     &lt;h1&gt;My First Web Page&lt;/h1&gt;
     &lt;p&gt;My First Paragraph&lt;/p&gt;

     &lt;p id="demo"&gt;&lt;/p&gt;

     &lt;script&gt;
     document.getElementById("demo").innerHTML = 5 + 6;
     &lt;/script&gt;

     &lt;/body&gt;
     &lt;/html&gt;
   </pre>
   <br>
   <h4>Usando document.write()</h4>
   <p class="text-justify">
     Para propósitos de prueba, es conveniente usar <strong>document.write ()</strong>:
   </p>
   <br>
   <pre class="brush:php">
     &lt;!DOCTYPE html&gt;
     &lt;html&gt;
     &lt;body&gt;

     &lt;h1&gt;Suma&lt;/h1&gt;
     &lt;p&gt;5 + 6 =&lt;/p&gt;

     &lt;script&gt;
     document.write(5 + 6);
     &lt;/script&gt;

     &lt;/body&gt;
     &lt;/html&gt;
   </pre>
   <br>
   <p class="text-justify">
     Al usar <strong>document.write ()</strong> después de que un documento HTML esté completamente cargado, se eliminará todo el HTML existente :
   </p>
   <br>
   <pre class="brush:php">
     &lt;!DOCTYPE html&gt;
     &lt;html&gt;
     &lt;body&gt;

     &lt;h1&gt;Suma&lt;/h1&gt;
     &lt;p&gt;5 + 6 =&lt;/p&gt;

     &lt;button type="button" onclick="document.write(5 + 6)"&gt;Sumar&lt;/button&gt;

     &lt;/body&gt;
     &lt;/html&gt;
   </pre>
   <br>
   <h4>Usando window.alert()</h4>
   <p class="text-justify">
     Puede usar un cuadro de alerta para mostrar datos:
   </p>
   <br>
   <pre class="brush:php">
     &lt;!DOCTYPE html&gt;
     &lt;html&gt;
     &lt;body&gt;


     &lt;script&gt;
     window.alert(5 + 6);
     &lt;/script&gt;

     &lt;/body&gt;
     &lt;/html&gt;
   </pre>
   <br>
   <h4>Usando console.log()</h4>
   <p class="text-justify">
     Para fines de depuración, puede usar el método console.log () para mostrar datos. <br>
     Estos datos apareceran en la consola de depuración del navegador. Puedes acceder a ella en la opción <strong>Herramienta para desarrolladores</strong>.
   </p>
   <br>
   <pre class="brush:php">
     &lt;!DOCTYPE html&gt;
     &lt;html&gt;
     &lt;body&gt;


     &lt;script&gt;
     console.log(5 + 6);
     &lt;/script&gt;

     &lt;/body&gt;
     &lt;/html&gt;
   </pre>
  </div>

  <!-- libraries -->
  <!-- Jquery -->
  <script type="text/javascript" src="../../libs/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script type="text/javascript" src="../../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- syntax -->
  <script type="text/javascript" src="../../libs/syntax/shCore.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shAutoloader.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shBrushJScript.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shBrushPhp.js"></script>
  <!-- App custom scripts -->
  <script type="text/javascript" src="../../js/index.js"></script>

  <script type="text/javascript">SyntaxHighlighter.all();</script>
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
</html>
