<!DOCTYPE html>
<html>
<head lang="en">
  <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="./img/js.ico">
  <title>Multimedia</title>
  <!-- libraries -->
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="../../libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../libs/fontawesome/css/fontawesome-all.css">
  <link rel="stylesheet" type="text/css" href="../../libs/syntax/shThemeFadeToGrey.css">
  <link href='../../css/simple-sidebar.css' rel="stylesheet">
</head>
<body>

  <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center pb-0">
      <span class="navbar-brand mb-0 h1">
            <img src="../../img/js.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Aprendiendo JavaScript
      </span>
    </nav>

  <ul class="nav justify-content-center nav-pills bg-dark pb-2">

    <li class="nav-item">
      <a class="nav-link btn btn-warning" href="../../index.html">
        <i class="fas fa-home fa-lg"></i>
        Inicio
      </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="intro.html">
            <i class="fas fa-info fa-lg"></i>
            Introducción
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="sintaxis.html">
            <i class="fas fa-file-code fa-lg"></i>
            Sintaxis
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="salida.html">
            <i class="fas fa-tv fa-lg"></i>
            Salida de datos
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="variables.html">
            <i class="fas fa-font fa-lg"></i>
            Variables
        </a>
    </li>

    <li class="nav-item dropdown ml-1">
      <a class="nav-link dropdown-toggle btn btn-warning" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" role="button">
        <i class="fas fa-greater-than-equal fa-lg"></i>
        Operadores
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="opArit.html">Operadores aritméticos</a>
        <a class="dropdown-item" href="opAsig.html">Operadores de asignación</a>
        <a class="dropdown-item" href="opComp.html">Operadores de comparación</a>
        <a class="dropdown-item" href="opLog.html">Operadores lógicos</a>
      </div>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="funciones.html">
            <i class="fas fa-code fa-lg"></i> Funciones
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="condicionales.html">
            <i class="fas fa-question fa-lg"></i>
            Condicionales
        </a>
    </li>

    <li class="nav-item ml-1">
        <a class="nav-link btn btn-warning" href="ciclos.html">
            <i class="fas fa-sync-alt fa-lg"></i>
            Ciclos
        </a>
    </li>

  </ul>
  <!-- Page Content -->
  <div class="container mt-4 mb-4">

   <h2>Variables y Tipos de datos</h2>
   <br>
   <p class="text-justify">
     Las variables en JavaScript pueden contener muchos tipos de datos: números (<strong>number</strong>), cadenas de texto (<strong>string</strong>), booleanos (<strong>boolean</strong>), arreglos (<strong>array</strong>) y objetos (<strong>object</strong>). <br>
     Estos no son todos los tipos de datos, pero si los mas utilizados. Por ejemplo existe el tipo de dato indefinido (<strong>undefined</strong>), nulo (<strong>null</strong>) y función (<strong>function</strong>).
   </p>
   <pre class="brush:js">
     var numero = 20; // Variable tipo number(numerico)
     var cadena = "José"; // Variable tipo string(cadena de texto)
     var verdadero = true; // Variable tipo boolean( Booleano igual a verdadero)
     var falso = false; // Variable tipo boolean( Booleano igual a falso)
     var arreglo = ["José", "María", "Jesus"]; // Variable tipo array (Arreglo de cadenas de caracteres)
     var objeto = {nombre: "José", apellido: "Hernandez", edad: 30}; // Variable tipo object (Objeto)
     var carro; var casa = undefined; // Variables tipo undefined (indefinidas)
     var persona =  null; // Variable tipo null (nula)
     var funcion = function miFunc(); // Variable tipo function (funcion)
   </pre>
   <br>
   <p class="text-justify">
     En la programación, los tipos de datos son un concepto importante. Sin tipos de datos , una computadora no puede resolver esto:
   </p>
   <br>
   <pre class="brush:js">
     var x = 20 + "Luis";
   </pre>
   <br>
   <p class="text-justify">
     ¿Tiene algun sentido sumar 20 a Luis?. JavaScript tratara el ejemplo anterior como una cadena:
   </p>
   <br>
   <pre class="brush:js">
     var x = 20 + "Luis"; // Resultado = 20Luis
     var y = "20" + "Luis"; // Resultado = 20Luis
   </pre>
   <br>
   <p class="text-justify">
     Esto sucede debido a que JavaScript utiliza el signo <strong>+</strong> tanto para sumar como para concatenar variables. <br>
     Además JavaScript toma las operaciones de izquierda a derecha. Veamos el ejemplo:
   </p>
   <br>
   <pre class="brush:js">
     var x = 20 + 5 + "Luis"; // Resultado = 25Luis
     var y = "Luis" + 20 + 5; // Resultado = Luis205
   </pre>
   <br>
   <p class="text-justify">
     En el primer ejemplo, JavaScript trata 20 y 5 como números, hasta que llega a "Luis".
     <br>
     En el segundo ejemplo, dado que el primer operando es una cadena, todos los operandos se tratan como cadenas.
   </p>
   <br>
   <h4>Los tipos de datos son dinámicos</h4>
   <br>
   <p class="text-justify">
     JavaScript tiene tipos de datos dinámicos. Esto quiere decir que la misma variable puede cambiar de tipo, dependiendo del dato que contenga en ese momento.
   </p>
   <pre class="brush:js">
     var x; // Es undefined
     x = null; // Ahora es null
     x = 5; // Ahora es number
     x = "Luis"; // Ahora es string
   </pre>
   <br>
   <h4>Operador typeof </h4>
   <br>
   <p class="text-justify">
     Puede usar el operador <strong>typeof</strong> para encontrar el tipo de una variable JavaScript.
     <br>
     El operador <strong>typeof</strong> devuelve el tipo de una variable o una expresión:
   </p>
   <pre class="brush:js">
     typeof "Luis" // Retorna string
     typeof 50 // Retorna number
     typeof ["Jose", "Hernandez"] // Retorna array
     typeof {nombre: "Jose", apellido: "Hernandez"} // Retorna object
   </pre>
  </div>

 <!-- libraries -->
  <!-- Jquery -->
  <script type="text/javascript" src="../../libs/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script type="text/javascript" src="../../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- syntax -->
  <script type="text/javascript" src="../../libs/syntax/shCore.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shAutoloader.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shBrushJScript.js"></script>
  <script type="text/javascript" src="../../libs/syntax/shBrushPhp.js"></script>
  <!-- App custom scripts -->
  <script type="text/javascript" src="../../js/index.js"></script>

  <script type="text/javascript">SyntaxHighlighter.all();</script>
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
</html>
